src/main/xsd_/IATA_PaymentClearanceCancellationRQ.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.iata.org/IATA/2015/00/2021.3/IATA_PaymentClearanceCancellationRQ" elementFormDefault="qualified" version="2.000" xmlns:cns="http://www.iata.org/IATA/2015/00/2021.3/IATA_PaymentClearanceCommonTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.iata.org/IATA/2015/00/2021.3/IATA_PaymentClearanceCancellationRQ" id="IATA2021.3"><xs:import namespace="http://www.iata.org/IATA/2015/00/2021.3/IATA_PaymentClearanceCommonTypes" schemaLocation="IATA_PaymentClearanceCommonTypes.xsd"/>
<xs:element name="IATA_PaymentClearanceCancellationRQ">
<xs:annotation>
<xs:documentation>the request to cancel clearance by providing the ClearanceID of the clearance that needs to be cancelled. Only the entity who originated the clearance can cancel it and within the deadlines and guidelines provided by the Clearance Manager. 
This clearance related message is about the flow of money and it cannot, under any circumstances, be used, treated or considered as legal invoice.</xs:documentation>
</xs:annotation>
<xs:complexType>
<xs:sequence>
<xs:element name="ClearanceID" type="cns:ClearanceID_Type" minOccurs="1" maxOccurs="unbounded">
<xs:annotation>
<xs:documentation>this is an identifier generated by the party requesting the clearance that uniquely identifies the clearance transaction. It provides the necessary link for financial audit connecting the sale to the financial records. This field is required because no other existing data elements could be used by the financial systems or could provide unique identification. The identifier is globally unique for the settlement by design.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="PayloadStandardAttributes" type="cns:IATA_PayloadStandardAttributesType" minOccurs="0" maxOccurs="1">
<xs:annotation>
<xs:documentation>The IATA_PayloadStdAttributes defines the standard attributes that appear on the root element for all IATA payloads.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>
